/*
 *  Draco HTML Template by @flamekaizar
 *  License: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
 */

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", serif;
  color: #333333; }

a, p, li {
  font-family: "Arial";
  color: #4e4e4e;
  font-size: 1.2em;
  line-height: 1.75em; }

a:hover {
  text-decoration: none !important;
  color: #333333 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.container {
  margin: auto;
  max-width: 800px;
  padding: 0 20px; 
}

@media only screen and (max-width: 767px) {
  .intro img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  footer {
    text-align: center; } }
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.main-nav {
  background: #f4f4f4;
  padding-top: 23px; }
  .main-nav nav ul li a {
    color: #a7a7a7; }
  .main-nav nav ul li.active a {
    color: #4d4d4d; }

.section.second {
  margin-bottom: 90px; }
.section .container {
  position: relative; }
  .section .container:after {
    position: absolute;
    content: url(../img/separator.png);
    left: 20px; }
  .section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative; }

.intro {
  padding: 95px 0px 70px 0px;
  overflow-x: hidden; }
  .intro img {
    width: 100px;
    height: 100px;
    border-radius: 99px; }
  .intro .wrap {
    margin: 30px 0px; }
  .intro h1:before {
    position: absolute;
    left: -220px;
    top: -150px;
    font-size: 270px;
    z-index: -1;
    color: #f4f4f4; }
  .intro h1 span {
    font-size: 47px; }
  .social li { 
      display: inline;
      font-size: 1.5em;
      margin-left: 20px; }
    .social li a {
      color: #4e4e4e;}
      .social li a:hover {
        color: #ffbb18 !important; }

.work .work-list {
  margin-left: 0px; }
  .work .work-list li {
    list-style: none;
    font-size: 0.9375em;
    color: #8c8c8c; }
    .work .work-list li a {
      padding-bottom: 5px;
      font-size: 1.1875em;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #b3b3b3; }
      .work .work-list li a:hover {
        border-bottom: 1px solid #333333; }

.award .award-list {
  margin-left: 0px; }
  .award .award-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.skills .skill-list {
  margin-left: 0px; }
  .skills .skill-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.roundbox {
  position: relative;
  text-align: center;
  border-radius: 15px;
  border: 5px solid #ffbb18;
  padding: 10px;
  min-width: 200px;
  min-height: 300px;   
}

details {
  /* user-select: none; */
  position: relative;
  /* margin-top: 10%; */
}

summary {
  display: block;
  cursor: pointer;
  background: #333333;
  border-radius: 7px;
  padding: 2mm; 
  color: #DDD;
  /* padding-top: 50px; */
  /* margin-top: 50px; */
}

details dl {
  text-decoration: none;
  text-align: left;
  list-style: none;
  /* margin-left: 0; */
  font-family: "Arial"; 
}

.quote {
  /* background: url(../img/bg.jpg); */
  background-color: #ffbb18;
  padding: 30px 0px;
  margin-top: 60px; 
  margin-bottom: 0px; }
  .quote h1 {
    margin: 0px 0px;
    padding: 20px 20px;
    border: 5px solid #fff;
    color: #fff; }
  .quote h2 {
    color: #fff; }
  .quote li a {
    color: #fff; }
  .quote li a:hover {
    color: #333333 !important; }

.title {
  /* background: url(../img/bg.jpg); */
  background-color: #ffbb18;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-top: 60px; 
  margin-bottom: 0px; }
  .title h1 {
    margin: 0px 0px;
    padding: 20px 20px;
    border: 5px solid #fff;
    color: #fff; }
  .title h2 {
    color: #fff; }
  .title li a {
    color: #fff; }
  .title li a:hover {
    color: #333333 !important; }

footer {
  background-color: #302E2A;
  padding: 50px 0px 1px 0px; }
  footer h1{
    color: #E6E6DD; }
  footer .social li {
    display: inline;
    margin-left: 20px; }
  footer .social li a {
    font-size: 1em;
    color: #E6E6DD; }
  footer .social li a:hover {
    color: #ffbb18 !important; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header-content {
  position: absolute;
  left: 0;
  bottom: 0;
}

input[type='checkbox'] { 
  display: none; 
} 
.wrap-collabsible {
  margin: 1.2rem 0; 
} 
.lbl-toggle { 
  position: absolute;
  bottom: 10px;
  /* left: 50%; */
  /* margin-left: -104.5px; */
  /* display: flex; */
  /* display: block;  */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* font-weight: bold;  */
  /* font-family: monospace;  */
  /* font-size: 1.2rem;  */
  /* text-transform: uppercase;  */
  /* text-align: center;  */
  padding: 5px; 
  color: #DDD; 
  background: #0069ff; 
  /* display: flex; */
  cursor: pointer; 
  border-radius: 7px; 
  /* transition: all 0.25s ease-out;  */
} 
.lbl-toggle:hover { 
  color: #FFF; 
} 
/* .lbl-toggle::before { 
  content: ' '; 
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid currentColor; 
  vertical-align: middle;
  margin-right: .7rem; 
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
}  */
/* .toggle:checked+.lbl-toggle::before { 
  transform: rotate(90deg) translateX(-3px); 
}  */
.collapsible-content { 
  max-height: 0px; 
  overflow: hidden; 
  transition: max-height .25s ease-in-out; 
} 
.toggle:checked + .lbl-toggle + .collapsible-content { 
  max-height: 350px; 
} 
/* .toggle:checked+.lbl-toggle { 
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0; 
}  */
.collapsible-content .content-inner { 
  background: rgba(0, 105, 255, .2); 
  border-radius: 7px; 
  /* border-bottom: 1px solid rgba(0, 105, 255, .45);  */
  /* border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px;  */
  padding: .5rem 1rem; 
} 
/* .collapsible-content p { 
  margin-bottom: 0; 
} */
